@import "../Scss/main.scss";
.header {
    
    .topBanner ,
    .login_button,
    .logout_button{
        background-color: $orange;
    }
    .signupLink.active,
    .loginLink.active
    {
        background-color: $orange;
        color: $white;
    }

  

    .signupLink,.loginLink{
        display: block;
        text-decoration: none;
        background-color: transparent;
        color: $black;
        padding: 5px;
        border-radius: 5px;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active
    {
    
        background-color:$antiFlashWhite;
    }

}



